<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.x.mapper.NotificationMapper">
    <update id="resetDays">
        UPDATE notification
        SET days = DATEDIFF(CURDATE(), due_date)
        <where>
            <if test="lendList != null and lendList.size() > 0">
                lend_id IN
                <foreach collection="lendList" item="lend" open="(" separator="," close=")">
                    #{lend.lendId}
                </foreach>
            </if>
        </where>
    </update>

    <update id="upDays">
        UPDATE notification
        SET days =
        CASE lend_id
        <foreach collection="lendList" item="lend">
            WHEN #{lend.lendId} THEN DATEDIFF(CURDATE(), #{lend.dueDate})
        </foreach>
        END
        <where>
            lend_id IN
            <foreach collection="lendList" item="lend" open="(" separator="," close=")">
                #{lend.lendId}
            </foreach>
        </where>
    </update>


    <update id="downDays">
        UPDATE notification
        SET days =
        CASE lend_id
        <foreach collection="lendList" item="lend">
            WHEN #{lend.lendId} THEN DATEDIFF(#{lend.dueDate}, CURDATE())
        </foreach>
        END
        <where>
            lend_id IN
            <foreach collection="lendList" item="lend" open="(" separator="," close=")">
                #{lend.lendId}
            </foreach>
        </where>
    </update>

    <update id="updateType">
        update notification
        set type = #{type}
        <where>
            <if test="lendIds != null and lendIds.size > 0">
                lend_id in
                <foreach collection="lendIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </update>
    <select id="getAllNotification" resultType="com.x.pojo.vo.NotificationVO">
        SELECT
        n.notice_id    AS noticeId,
        n.days         AS days,
        n.type         AS type,
        b.title        AS title,
        b.book_id      AS bookId
        FROM notification n
        JOIN lend l ON n.lend_id = l.lend_id
        JOIN books b ON l.book_id = b.book_id
        WHERE n.user_id = #{userId}
        ORDER BY n.notice_id DESC
    </select>

    <insert id="batchInsert">
        insert into notification(lend_id, days, user_id, type)
        <foreach item="item" collection="list" separator=","
                 open="values" close="">
            (#{item.lendId}, #{item.days}, #{item.userId}, #{item.type})
        </foreach>
    </insert>

</mapper>